MONGO_URL=mongodb+srv://Nxttrendz:Nxttrendz@cluster.mongodb.net/database?appName=MyCluster
PORT=3000
CLIENT_URL=http://localhost:5173
SECRET_KEY=ABCDEE 
CLOUDINARY_CLOUD_NAME=fmxdcfyl
CLOUDINARY_API_KEY=419132918357342
CLOUDINARY_API_SECRET=xDIaERYuvUHNFggz-lridc9FxUQ